BasedOnStyle: LLVM
IndentWidth: 4
Language: Cpp
Standard: Cpp11
TabWidth: 4
UseTab: ForContinuationAndIndentation
ColumnLimit: 140
AccessModifierOffset: -4
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: true
AlignEscapedNewlines: Left
IndentPPDirectives: AfterHash # v6.0.0 doesn't understand BeforeHash
AllowShortFunctionsOnASingleLine: None
ConstructorInitializerIndentWidth: 8
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BinPackParameters: false
BinPackArguments: false

ContinuationIndentWidth: 8
AlignAfterOpenBracket: AlwaysBreak
# high penalty so rarely break right after return value
PenaltyReturnTypeOnItsOwnLine: 200
...
