[submodule "thirdparty/libbpf"]
	path = thirdparty/libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "thirdparty/bpftool"]
	path = thirdparty/bpftool
	url = https://github.com/libbpf/bpftool.git
